fastapi
uvicorn[standard]

sqlmodel
sqlalchemy
psycopg[binary]

python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4

python-multipart
pydantic
pydantic-settings
email-validator

openpyxl

alembic

